
body{
    height: 100%;
    width: 100%;
}


.image {
    height: 600px;
  text-align: center;
  background-size: cover;
  background-image: url(../images/aircraft.jpg)
}

.add-on {
	font-size: 24px; 
}