
body{
        font-family: sans-serif;
}
.mastercard img{
       max-height: 140px;
       max-width: 220px;
       width: 240px;
       height: 100px;
       margin-left: 950px;
       margin-top: 140px; 
}
h1{
  color: #151B54;
  font-size: 30px;
  padding-left:20px; 
  padding-top: 100px;
}
h2{
  color:#3090C7;
  font-size: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
}

.col-md-4 {

  height: 80px;
  font-size: 25px;
  text-align: center;
}
.fl{
  background-color: #B6B6B4;
}
.dp{
 background-color: #D1D0CE;
}
.ar{
  background-color:#E5E4E2;
}

.btn-group{
  padding-top:25px;
  padding-left: 20px
}
.b{
  padding-left: 40px;
  padding-top: 50px;

}
.img{
  padding-left: 900px;
 
}

th{
    width: 90px;
}

.confirmation{
      background: url("../images/aircra.jpg"); 
      background-size: cover;
      min-height: 100%
      min-width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      overflow-y: hidden;
      overflow-x: hidden;
      line-height: 1.8;
      color: black;
    }
