

.jumbotron {

                background-image:url(../images/Cloud.jpg);
                background-size: cover;
                background-repeat: no-repeat;
}
body{
    height: 100%;
    width: 100%;
}
  
h1{
  	font-size: 200% ; 
  	color:   #191970;
  }

.image {
  height: 600px;
  text-align: center;
  background-size: cover;
  background-image: url(../images/aircraft.jpg)
}

.add-on {
	font-size: 24px; 
}

